@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0e100f;
  color: #fffce1;
}

.primary {
  color: #c2ff9c;
}

.foreground-color {
  color: #fffce1;
}

.foreground-bg {
  background-color: #fffce1;
}

.divider {
  border-color: #313332 !important;
}
